if session.passport
  span #{session.passport.user.username}
  a(href="/documents/new")
    button Add Document
  a(href="/documents")
    button View Documents
  form(method="POST")
    button(type="submit" formaction="/logout") logout
