extends index.pug

block content
  .container
    .row
      div(class="col-md-10 offset-md-1")
        h1 Analyze your document
        h2= foundDocument.name
        p= foundDocument.text
        #emotionform
        script(src="/static/emotionform.js")
          //- form(method="post" action=`/analyses/sentiment/${foundDocument.id}`)
          //-   label(for="sentiment1") Sentiment Target 1
          //-   input(type="text" id="sentiment1" name="sentiment1")
          //-   label(for="sentiment2") Sentiment Target 2
          //-   input(type="text" id="sentiment2" name="sentiment2")
          //-   label(for="sentiment3") Sentiment Target 3
          //-   input(type="text" id="sentiment3" name="sentiment3")
          //-   label(for="sentiment4") Sentiment Target 4
          //-   input(type="text" id="sentiment4" name="sentiment4")
          //-   label(for="sentiment5") Sentiment Target 5
          //-   input(type="text" id="sentiment5" name="sentiment5")
          //-   button(type="submit") Analyze Now