extends index.pug

block content
  h1 Analyze your document
  h2= foundDocument.name
  p= foundDocument.text
    form(method="post" action=`/analyses/document/${foundDocument.id}`)
      button(type="submit") Analyze Now