extends index.pug

block content
  .container
    .row
      div(class="col-md-10 offset-md-1")
        h1 Your Documents
        ul(class="list-group")
          each document in foundDocuments
            li(class="list-group-item")
              a(href=`/documents/${document.id}`)= document.name
