extends index.pug

block content
  .container
    .row
      div(class="col-md-10 offset-md-1")
        h1 Register as new user
        if message
          h2= message
        include partials/user-form.pug
